*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    margin: auto;
    background: url('20.jpg') 100%;
    background-size: cover;
    padding: 30px 30px;
    margin-top: 150px;
}   
input{
    display: block;
    width: 300px;
    height: 40px;
    margin: 0%;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    background: transparent;
    justify-content: center;
    color: white;
    padding: 30px 30px;
}
.mm{
    width: 400px;
      margin: auto;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
button{
    width: 300px;
    height: 40px;
    background-color: blue;
    border: none;
    color: white;

}
body h1{
    margin-top: 10%;
    color: white;
}
